@import "tailwindcss";

@layer utilities {
  .bg-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-stops));
  }
}

@layer utilities {
  .backdrop-blur-force {
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}



@theme{
     --color-gray-popup: rgba(214, 214, 214, 0.95);
    --color-green-popup: #20D61A;
    --color-red-popup: #D61A20;
    --breakpoint-3xl: 101rem;
    --breakpoint-4lg:76rem;
}







.no-scroll{
  overflow: hidden;
}


.animate-popup{
  animation: popup 4s ease-in-out forwards;
}

@keyframes popup {
0%{
  visibility: visible;
  opacity: 0;
  top:6%;
} 
40%{
top:8%;
opacity: 1;
}
100%{
  visibility: hidden;
} 
  }

 .autoFill:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        background-color: transparent !important;
    }